body,
html {
  height: 100%;
  margin: 0;
}

.background {
  background-image: url("../Images/Sandbox_Background.jpg");
  height: 100%;
}

.keyboard-color {
  background-image: url("../Images/Keyboard-Color.jpg");
}
